<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<springProperty name="APP_NAME" source="spring.application.name"
		defaultValue="crypto-portfolio-monitoring" />
	<springProperty name="ACTIVE_PROFILE"
		source="spring.profiles.active" defaultValue="default" />
	<property name="LOG_DIR" value="logs" />
	<property name="PLAIN_PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss} %-5level [trace=%X{traceId:-} span=%X{spanId:-} req=%X{requestId:-}] %logger{36} - %msg%n" />

	<appender name="CONSOLE_PLAIN"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PLAIN_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="FILE_PLAIN"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/app.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/app.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${PLAIN_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="FILE_TEST"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/app-test.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/app-test.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>14</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${PLAIN_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="CONSOLE_JSON"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>{"application":"${APP_NAME}","profile":"${ACTIVE_PROFILE}"}</customFields>
		</encoder>
	</appender>

	<appender name="FILE_JSON"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/app.json.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/app.%d{yyyy-MM-dd}.json.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>{"application":"${APP_NAME}","profile":"${ACTIVE_PROFILE}"}</customFields>
		</encoder>
	</appender>

	<root level="INFO" />

	<springProfile name="dev">
		<root level="DEBUG">
			<appender-ref ref="CONSOLE_PLAIN" />
			<appender-ref ref="FILE_PLAIN" />
		</root>
		<logger name="org.springframework" level="DEBUG" />
		<logger name="org.hibernate.SQL" level="DEBUG" />
		<logger name="com.mx.cryptomonitor" level="DEBUG" />
		<logger name="org.springframework.security" level="DEBUG"
			additivity="false" />
		<logger name="org.springframework.cache" level="TRACE" />
		<logger name="org.springframework.cache.interceptor.CacheInterceptor"
			level="TRACE" />
		<logger name="org.springframework.data.redis" level="DEBUG" />
		<logger name="io.lettuce.core" level="DEBUG" />
		<logger name="http.access" level="INFO" additivity="false">
			<appender-ref ref="CONSOLE_PLAIN" />
			<appender-ref ref="FILE_PLAIN" />
		</logger>
	</springProfile>

	<springProfile name="prod">
		<root level="INFO">
			<appender-ref ref="CONSOLE_JSON" />
			<appender-ref ref="FILE_JSON" />
		</root>
		<logger name="org.springframework" level="INFO" />
		<logger name="com.mx.cryptomonitor" level="INFO" />
		<logger name="org.springframework.cache" level="WARN" />
		<logger name="org.springframework.data.redis" level="WARN" />
		<logger name="io.lettuce.core" level="WARN" />
		<logger name="org.springframework.cache.interceptor.CacheInterceptor"
			level="INFO" />
		<logger name="http.access" level="INFO" additivity="false">
			<appender-ref ref="CONSOLE_JSON" />
			<appender-ref ref="FILE_JSON" />
		</logger>
	</springProfile>

	<springProfile name="test">
		<root level="INFO">
			<appender-ref ref="CONSOLE_PLAIN" />
			<appender-ref ref="FILE_TEST" />
		</root>
		<logger name="com.mx.cryptomonitor" level="DEBUG"
			additivity="false">
			<appender-ref ref="CONSOLE_PLAIN" />
			<appender-ref ref="FILE_TEST" />
		</logger>
		<logger name="org.springframework" level="DEBUG"
			additivity="false">
			<appender-ref ref="CONSOLE_PLAIN" />
			<appender-ref ref="FILE_TEST" />
		</logger>
		<logger name="org.springframework.cache" level="TRACE"
			additivity="false">
			<appender-ref ref="CONSOLE_PLAIN" />
		</logger>
		<logger name="org.springframework.data.redis.cache"
			level="DEBUG" additivity="false">
			<appender-ref ref="CONSOLE_PLAIN" />
		</logger>
		<logger
			name="com.mx.cryptomonitor.infrastructure.config.RedisCacheErrorHandler"
			level="WARN" additivity="false">
			<appender-ref ref="CONSOLE_PLAIN" />
		</logger>
		<logger name="io.lettuce.core" level="WARN" />
		<logger name="http.access" level="INFO" additivity="false">
			<appender-ref ref="CONSOLE_PLAIN" />
			<appender-ref ref="FILE_TEST" />
		</logger>
	</springProfile>

	<springProfile name="!test &amp; !dev &amp; !prod">
		<root level="INFO">
			<appender-ref ref="CONSOLE_PLAIN" />
			<appender-ref ref="FILE_PLAIN" />
		</root>
		<logger name="com.mx.cryptomonitor" level="INFO" />
		<logger name="org.springframework" level="INFO" />
		<logger name="http.access" level="INFO" additivity="false">
			<appender-ref ref="CONSOLE_PLAIN" />
			<appender-ref ref="FILE_PLAIN" />
		</logger>
	</springProfile>

</configuration>
